.sider_container {
  width: 260px;
  height: 100%;
  background: #f9f9f9;
  transition: width .2s ease-in-out;
  position: relative;
}

.sider_container_active {
  width: 0;
  visibility: hidden;
  overflow: hidden;
}

.sider_visible {
  visibility: visible !important;
}

.sider_footer {
  flex: 1;
}


.sider_edit {
  visibility: hidden;
}



.history_item {
  width: 100%;
  cursor: pointer;
  padding: .5rem;
  border-radius: .5rem;



  &:hover .sider_edit {
    visibility: visible;
  }
  &:hover  {
    background: #ececec;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  &_name {
    width: 175px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.history_item_active {
  background: #ececec;
}

@media (max-width: 900px) {
  .sider_container {
    width: 200px;
  }

}
