._chat_container {
  flex: 1;
  //padding: 18px 1rem 0 1rem;
  margin-bottom: 2.25rem;
  overflow: auto;
  display: flex;
  justify-content: center;

  &::-webkit-scrollbar {
    height: 1rem;
    width: .2rem;
  }

  &::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: var(--chat--gray-400);
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px
  }
}


.chat-header {
  width: 100%;
}


.chat-message-user {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}


.chat-message-header {
  margin-top: 16px;
  gap: 16px;
  display: flex;
  width: 100%;
}

.chat-message-container {
  max-width: var(--message-max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:hover {
    .chat-message-edit {
      opacity: 0.9;
    }


  }
}

.chat-message-left {
  max-width: var(--message-max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-message-user > .chat-message-container {
  align-items: flex-end;
}

.chat-message-avatar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;

  &-user {
    flex-direction: row-reverse;
  }

}


.chat-message-item {
  margin-top: 7px;
  box-sizing: border-box;
  font-size: 14px;
  user-select: text;
  word-break: break-word;
  position: relative;
  transition: all ease 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;

  &-end {
    align-items: flex-end;
    background-color: rgb(244, 244, 244);
    padding: .625rem 1.25rem;
    border-radius: 1.5rem;
  }

  &:hover ._chat_footer {
    visibility: visible;
  }
}

.chat-message-avatar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;

  &-user {
    flex-direction: row-reverse;
  }

}

.chat-message-date {
  font-size: 14px;
  white-space: nowrap;
  margin-bottom: 8px;
  transition: all ease 0.6s;
  color: #86909c;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 1;
}

._chat_content {
  width: 66.7%;
  padding: 20px;
}

._chat_footer {
  visibility: hidden;
}

._chat_footer_active {
  visibility: visible;
}

._chat_footer_btn {
  padding: 0.5rem;
}

@media (max-width: 900px) {
  ._chat_content {
    width: 100%;
    padding: 0 20px;
  }

}










